<h1 class="centered">
  *** Weather Charts ***
</h1>
<div class="formClass">
  <form [formGroup]="formulario">
    <mat-form-field>
      <mat-select formControlName="location" placeholder="City">
        <mat-option *ngFor="let location of locations" [value]="location">
          {{location}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select formControlName="metric" placeholder="Metric">
        <mat-option *ngFor="let metric of metrics" [value]="metric">
          {{metric}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select formControlName="fromDate" placeholder="From year" (selectionChange)="setToYear($event)">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select formControlName="toDate" placeholder="To year">
        <mat-option *ngFor="let y of years" [value]="y" [disabled]="y < formulario.controls.fromDate.value">
          {{y}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>