/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.centered {
  text-align: center;
}
.formClass {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}

h1 {
  font-weight: bold;
  font-family: arial;
}
